*{
margin: 0;
padding: 0;
font-family: fantasy;
}

header{
background-image: url(../reviewbackground.jpg);
height: 200vh;
background-size: cover;
background-position: center;
}

ul{
float: right;
list-style-type: none;
margin-top: 25px;
}

ul li{
display:inline-block;
}

ul li a{
text-decoration: line-through;
color: #fff;
padding: 5px 20px;
border: 1px solid #fff;

}

ul li a:hover{
color: #000;

}

.container1{
  margin-left: 300px;
  align-content: center;
  margin-top: 75px;
  height: 150vh;
  width: 50%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%
  left: 50%
  transform: translate(-50%,-50%);

}

.container1{
  margin-left: 300px;
  align-content: center;
  margin-top: 75px;
  height: 180vh;
  width: 50%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%
  left: 50%
  transform: translate(-50%,-50%);

}

.container1 h1{
  text-align: center;
  color: #ffff;
}

.container1 p{
  text-align: center;
  color: #ffff;
}

.iframe-container2{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container2 iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
